extends layout.pug

block content
    div(id="questionDiv")
        table(id= question.id class= "question-table")
            thead
                tr
                    th Question Votes
                    th Question
                    th Additional Info
                    th User
                    th Posted On
            tbody
                tr
                    td
                        div(id="questionVotes")
                            .buttons
                                button(id="questionUp"): i.far.fa-thumbs-up.fa-lg #{questionUpvotes.length}
                                button(id="questionDown"): i.far.fa-thumbs-down.fa-lg #{questionDownvotes.length}
                    td(id="questionTitle")= question.question
                    td(id="questionInfo")= question.additional_info
                    td(id="questionUser")= `posted by ${question.User.username} on`
                    td(id="questionDate")= (new Date(question.createdAt)).toDateString()
        table.answer-table 
            thead
                tr
                    th Answer Votes
                    th Answer
                    th By user
                    th Posted On
            tbody(id="answers")
                each answer in answers
                        tr
                            td
                                div(id="answerVotes")
                                    .buttons
                                        button(id= `upvote-${answer.id}` class="answerUpvoteButtons"): i.far.fa-thumbs-up.fa-lg #{answer.Upvotes.length}
                                        button(id= `downvote-${answer.id}` class="answerDownvoteButtons"): i.far.fa-thumbs-down.fa-lg #{answer.Downvotes.length}
                            td(id="answerContent")= answer.answer
                            td(id="answerUser")= `posted by ${answer.User.username} on `
                            td(id="answerDate")= (new Date(answer.createdAt)).toDateString()
        form.new-answer
            input(id="csrf" type="hidden" name="_csrf" value=csrfToken)
            label(for="answer") Your Answer:
            textarea(class='question' name='answer' required)
            button(id="post-answer") Post
        script(src="/javascripts/question.js")
