extends layout.pug

block content
    .container(id="questionContainer")
        .total
            h4 Showing #{questions.length} Questions
        table.table
            thead.table-head
                th Questions
                th Posted by
                th Total Votes
            tbody.table-body
                each question in questions
                    tr
                        td: a(href=`/questions/${question.id}` class="search-td")= question.question
                        td= question.User.username
                        if question
                            td= `${parseInt(question.Upvotes.length) - parseInt(question.Downvotes.length)}`
                        else
                            td 0
                        td(id="visit" class="search-td"): a(href=`/questions/${question.id}`)  Visit
    include footer.pug
