extends layout

block content
    .container
        .total
            h4 Showing #{qArray.length} results
        table.table
            thead.table-head
                th Questions
                th Posted by
                th Total Votes
            tbody.table-body
                each question in qArray
                    tr
                        td: a(href=`/questions/${question.id}` class="search-td")= question.question
                        td(id="question")= question.User.username
                        if question
                            td= `${(parseInt(question.Upvotes.length) - parseInt(question.Downvotes.length))}`
                        else
                            td No reviews yet
                        td(id="visit" class="search-td"): a(href=`/questions/${question.id}`)  Visit
    include footer.pug
